<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<div class="cart_page">

	<h2>Items currently in your cart</h2>

	<%= render(@cart.line_items) %>

<div class="cart_totals">
	<h3>Cart Totals</h3>
	
	Total <%= number_to_currency(@cart.total_price) %>

</div>

<br><br>

<%= link_to 'Empty cart', @cart, method: :delete, :class => "button_to_empty", data: { confirm: 'Are you sure?' }%>

</div>