/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import "library";
@import "reset";

$max_width: 960px;
$gutter_width: 20px;
$col_count: 12;
$gutter_count: $col_count - 1;
$total_gutter_width: $gutter_count * $gutter_width;

$col_width: ($max_width - $total_gutter_width) / $col_count;

// Global templates

%group:after {
    display: table;
    clear: both;
    content: "";
}

%container {
    margin: 0 auto;
    max-width: $max_width;
 
}

// Global tags

html {height: 100%}

body {
    font-family: 'Lato', sans-serif;
}



// Everything else
@mixin columnify($num_cols) {
    width: $col_width * $num_cols + $gutter_width * ($num_cols - 1);
}

@mixin offset($num_cols) {
    margin-left: ($col_width + $gutter_width) * $num_cols;
}


.wrap {
    @extend %container;
    padding: 20px 0 0 0;
    font-family: 'Lato', sans-serif;
    margin-top: 30px;

    footer {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
    height: 30px;
    text-align: right;
    bottom: 0;
    }

    h2 {
    letter-spacing: 4px;
    font-size: 30px;
    @include columnify(5);
    text-decoration: none;
    color: black;
    
    a {
    &:link {
        text-decoration: none;
    }    
    &:visited {
        color: black;
        text-decoration: none;
    }    
    &:active {
        color: black;
        text-decoration: none;} 

    &:hover {
        color: black;}
    }}

    nav {
        font-size: 0;
        margin-top: -20px;
        margin-bottom: 20px;
        @include offset(7);

        a {
            display: inline-block;
            text-decoration: none;
            color: black;
            letter-spacing: 2px;
            background:white;
            text-align: right;
            font-size: 14px;
            @include columnify(1);
            margin-right: $gutter_width;

            &:nth-of-type(5n) {
                margin-right: 0;}

            &:active {
                color: black;
                text-decoration: none;} 

            &:hover {
                color: orange;}
            
            .cart_count {
            	display: inline;
            	font-size: 10px;
            	border: 1.5px solid black;
            	color: black;
            	padding-left: 3px;
                margin-left: 2px;
            	padding-right: 2px;
            	border-radius: 2px;
            	text-align: center;

            	
                &:hover { border-color: orange;
            		color: orange}
            }
        }
           
    }
    }

.store {
    font-size: 0;
    margin-top: 40px;
}

section {
    @include columnify(4);
    display: inline-block;
    margin-right: $gutter_width;
    margin-bottom: 20px;
    height: 250px;

    &:nth-of-type(3n) {
        margin-right: 0;
    }

    a {
    	text-decoration: none;
    	color: black;
    	&:hover { color: orange}

    }

    .image {
        overflow: hidden;
        text-align: center;
        height: 200px;
        border: 1px lightgray solid;

        img {
          width: 100%;
        }
    }

    .name_price {
        font-size: 15px;
        padding-top: 5px;

            .price {
                color: gray;
                font-size: 14px;
                padding-left: 5px;
            }	

    }
}

// DETAILS/SHOW PAGE

.details {
	margin-top: 60px;
	margin-bottom: 50px;
	max-width: $max-width;
	margin-right: $gutter_width;

	&:nth-of-type(2n) {
        margin-right: 0;
    }

	.details_image {
		@include offset(1);
		display: inline-block;
		@include columnify(5);
		overflow: hidden;
		// border: 1px solid lightgray;

		img {
			max-width: 100%}


	}

	.details_text {
		display: inline-block;
		@include offset(1);
		@include columnify(4);
		vertical-align: top;
		font-size: 14px;

		.details_price{font-size: 16px;
			margin-top: 20px;}
		
		h3 {font-size: 30px;
			margin-bottom: 15px;
		}

        p {
            line-height: 17px;
        }

		.button {
			display: block;
			margin-top: 35px;
			margin-bottom: 10px;	


			.button_to_cart {
				color: white;
                font-family: 'Lato', sans-serif;
                font-size: 14px;
				background-color: orange;
				text-decoration: none;
				padding: 5px;
                outline: 0px;
                outline-style:none;
                border: 0;
				padding-left: 8px;
				padding-right: 8px;
				// box-shadow: 1px 1px 1px darken(orange, 10%); 

				&:hover {
					background-color: darken(orange, 2%)
				}

			}
		}

	}
}




// CART PAGE 

.cart_page {
    margin-top: 50px;
    h4 {font-size: 20px;}



    .cart_table {
        display: inline-block;
        margin-top: 30px;
        @include columnify(7);
 



        th{
            padding: 5px;
            text-align: center;
            border: 1px solid lightgray;
        }
        td {
            vertical-align: top;
            padding-top: 23px;
            text-align: center;
            border: 1px solid lightgray;}

        .image {
            text-align: center;

            vertical-align: top;
            padding-top: 0;
        img {
            height: 60px;
        }}
    }

}

.cart_totals {
    display: inline-block;
    @include columnify(4);
    border: 1px lightgray solid;
    padding: 15px;
    vertical-align: top;
    margin-left: 97px;
    
    h4 {
        text-align: center;
        font-size: 20px;
        padding-bottom: 10px;
    }

    .totals 
        table {
            text-decoration: none;
            font-size: 16px;
            width: 200px;
            margin-left: 30px;
            line-height: 20px;

            .table_right {
                text-align: right;
            }
            .table_bottom {
                border-bottom: 1px solid gray;   
            }
        }

    .checkout {
        margin-top: 20px;
        text-align: center;
    }

}

    

    .button_to_checkout {
    color: white;
    background-color: green;
    text-decoration: none;
    padding: 5px;
    padding-left: 8px;
    padding-right: 8px;
    border: 1px green solid;
    }


    .button_to_empty {
        color: white;
        background-color: #CF4141;
        text-decoration: none;
        padding: 5px;
        padding-left: 8px;
        padding-right: 8px;
        border: 1px #CF4141 solid;
        // box-shadow: 1px 1px 1px darken(orange, 10%); 

        &:hover {
            background-color: darken(#CF4141, 2%)
        }

    }







