/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {
	font-family: 'Lato', sans-serif;
}

img {
	height: 150px;
}


header {

	ul {
		font-size: 15px;
		

		li {
			display: inline-block;
			text-decoration: none;
			vertical-align: center;
			letter-spacing: 1px;
			padding-right: 5px;

			a { text-decoration: none;
				color: black; 
				
				&:hover { color: orange}
				
			}
				
				
				
				

			


			h2 {
				letter-spacing:4px;
				font-size: 40px; 	
			}



		}	
	}
}
