

<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<div class="store">
    
      <% @products.each do |product| %>
    <section>
	  
	        <div class="image">

	           <%= link_to image_tag(product.image), product_url(product.id) %>

	        </div>
	            
	        <div class="name_price">
	            <b><%= link_to product.title, product_url(product.id) %></b> <span class=price><%= number_to_currency(product.price) %></span>
	        </div>    
	      
     </section>
      <% end %> 

	<footer>
	<p>RANDOM HUNT CO. © 2014</p>
	</footer>
</div>





